@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}
nav{
    padding-top: 30px;
    display:flex;
    justify-content: space-between;
}
nav ul a{
    text-decoration:none;
    justify-content:center;
    text-align: center;

}
.heading{
    margin: 20px 20px;
}
.continar{
    display:flex;
    margin-left:100px;
    margin-right:100px;
}
.content{
    margin: 10px 20px;
    padding: 20px;
}
.submit{
    padding:10px;
    margin-top:20px;
}